nav {
  padding-top: 2em;
  padding-bottom: 4em;
}
.container {
  flex-wrap: wrap;
  .desc {
    width: 50%;
    order: 1;
    p {
      width: 97%;
    }
  }
  .mockups {
    height: 27rem;
    width: 50%;
    width: auto;
    order: 2;
    background-image: url(/images/illustration-mockups.svg);
    background-size: 27rem;
    background-repeat: no-repeat;
    object-fit: cover;
  }
}
