main {
  height: 100%;
  section {
    padding: 0em 4rem;
    &.hero {
      min-height: 95vh;
      background-image: url("/images/bg-hero-desktop.svg");
      background-color: $veryPalCyan;
      background-size: cover;
      padding-bottom: 4em;
      @import "hero";
    }
    &.about {
      flex-direction: column;
      color: $veryDarkCyan;
      @import "about";
    }
  }
  footer {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 20.3125rem;
    @import "footer";
  }
}
