$Pink: hsl(322, 100%, 66%);
$veryPalCyan: hsl(193, 100%, 96%);
$veryDarkCyan: hsl(192, 100%, 9%);
$grayishBlue: hsl(208, 11%, 55%);
$white: #fff;
$shadowButton: 0 10px 20px rgba(0, 0, 0, 0.07);
$cardShadow: 0 5px 10px 10px rgba(0, 0, 0, 0.07);
